
/* @import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap'); */


*{
    margin: 0;
    padding: 0;
    /* background-color: black; */
}
body{
    background: black;
   }

.display{
    display: hidden;
}


/* Shared style */
.color-1{
    color: white;
}
.color-2{
    color: rgb(128, 128,128);
}
.color-3{
    color: rgb(144, 144, 144);
}
.font{
    font-family:"Inter",sans-serif;
}
/* Banner */
.first-section{
    background: linear-gradient(180deg, #111111 0%, rgba(119, 119, 119, 0) 100%);

}
.banner-container{
    width: 90%;
    margin: 0 auto;
    height: 450px;
    display: flex;
    /* justify-content: space-between; */
    /* border: 2px solid red; */
    /* background: linear-gradient(180deg, #111111 0%, rgba(119, 119, 119, 0) 100%); */
    margin-bottom: 50px;
}
.banner-text-container{
    width: 50%;
    margin: 0 auto;
    text-align: left;
    color: white;
    /* border: 2px solid red; */
    /* background-color: black; */
    margin-top: 50px;
    margin-bottom: 50px;
}
.banner-text-container h1{
    /* color: white; */
    margin-top: 50px;
    font-size: xx-large;
    font-weight: bolder;
    margin-bottom: 15px;
    
}
.banner-text-container p{
    color:  #FFFFFF80;

    
}

.banner-button{
    margin-top: 30px;
}
.banner-button .btn-1{
    width: 150px;
    height: 30px;
    margin-right: 20px;
    border-radius: 15px;
    color: white;
    font-family: "Inter,sens-serif";
    border: none;
    background-color: orangered;
}
.banner-button .btn-2{
    width: 150px;
    height: 30px;
    margin-left: 20px;
    border-radius: 15px;
    color: white;
    background-color: black;
    font-family: "Inter,sens-serif";
    border-color: white;
}

.banner-img-container{
    /* border: 2px solid red; */
    /* margin: 0 auto; */    
}
.banner-img-container img{
    /* border: 2px solid red; */
    /* display: block; */
    margin-left: 250px;   
}


#videos{
    position: absolute;
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: 200;
    margin-left: -360px;
    margin-top: 330px;
    /* background-color: transparent ; */
    background-color:rgba(31, 31, 31, 0.534);
    color: white;
    border: none;
    border-radius: 10px;
}
#published-video{
    font-size: 1.5rem;
    font-weight: 600;
}
#workout-videos{
    padding: 15px 15px;
    font-size: 1rem;
    font-weight: 180;
    position: absolute;
    margin-left: -100px;
    margin-top: 90px;
    color: white;
    border-radius: 10px;
    border: none;
    background-color: rgba(56, 56, 56, 0.884);
}
#t-published-video{
    font-size: 1.5rem;
    font-weight: 600;
}
.banner-img-container img{
    height: 100%;
}


/* nav-bar */
.nav-bar{
    
    display: flex;
    padding-top: 40px;
    /* border: 2px solid red; */
    /* margin-top: 40px; */
    /* flex-direction: row; */
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    /* background-color: black; */
    margin-bottom: 20px;
    /* background: linear-gradient(180deg, #111111 0%, rgba(119, 119, 119, 0) 100%); */


}
.nav-hamburger-menu{
    display: none;
}

.color{
    color: white;
}

.nav-options{
    font-family: "Inter", sans-serif;
    width:400px;
    display: flex;
    border: 1px solid gray;
    justify-content: space-around;
    gap:3rem;
    border-radius: 20px;
    
    
}

.nav-options button{
    width: 50px;
    height: 20px;

    border-radius: 10px;
     margin-left: -5px; 
    background-color: orangered;
    border: none;
    color: white;
    border-color: orangered;
}


/* Second section */
.second-section,
.creative-section{
    width: 90%;
    margin: 0 auto;
    /* border: 2px solid red; */
    margin-bottom: 30px;

}

.second-section-title{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    /* border: 2px solid rebeccapurple; */
    margin-bottom: 20px;
}

.second-img-container{
    width: 90%;
    margin:0 auto;
    /* border: 2px solid aqua; */
    display: flex;
    justify-content: space-evenly;
}

.img-one ,
.img-two,
.img-three,
.img-four{
    width: 20%;
    /* border-radius: 50%; */
    /* outline-color: rgb(25, 25, 25); */
/* border: 2px red solid; */
}

.img-one img, .img-two img,
.img-three img,
.img-four img{
    border: 4px solid rgb( 25,25,25);
    border-radius: 50%;

    align-items: center;
    width: 90%;
    margin: 0 auto;
    /* outline: 90% gray; */
}

.img-content, .img-content-1,
 .img-content-2,
.img-content-3{
    width: 100%;
    text-align: center;
    
    /* border: 2px solid red; */
}


/* Third Section */
.third-section{
    width: 90%;
    margin: 0 auto;
    height: 300px;
    /* border: 2px solid red; */
    margin-top: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(24, 24, 24)
   

}

.third-text-container{
    /* border: 2px solid red; */
    width: 90%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    margin-right: 180px;
}
.third-text-container h1 ,
.third-text-container p{
    margin-bottom: 20px;
}
.third-text-container p{
    margin-left: 80px;
}
.th-btn{
    /* text-align: start; */
    width: 150px;
    height: 30px;
    /* background-color: #ffff; */
    margin-left: -40px;
    border-radius: 20px;
    color: white;
    border: none;
    background-color: orangered;
}


.third-img-container img{
    width: 45%;
    height:70%;
    /* border: 2px solid red; */
    margin-left: 250px;
    border-radius: 8px;
}

table, th,td{
    border: 1px solid black;
    border-collapse:collapse;
}
/* Bmi calculate */
.bmi-calculate-title{
    width: 90%;
    margin: 0 auto;
    /* border: 2px solid red; */
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    
}

.bmi-calculate-title h1{
    font-weight: bolder;
    margin-bottom: 10px;
    /* border: 2px solid red; */
}
.bmi-container{
    /* border: 2px solid red; */
    background-color: rgb(34, 34,34);
    margin-bottom: 40px;
    height: 350px;
    display: flex;
    justify-content: space-between;
}
.bmi-chart{
    width: 40%;
    text-align: center;
    margin-top: 25px;
   /* border: 2px solid red; */
}
.bmi-chart h2{
    /* border: 2px solid red; */
}
.bmi-chart table{
    margin-left: 150px;
    margin-top: 40px;
    border-collapse: collapse ;
    width: 80%;
    /* border: 2px solid red; */
}
.bmi-chart table tr{
    /* height: 30px; */
}
.bmi-chart table th,
.bmi-chart table td{
    padding-left:10px ;
    padding-top: 6px;
    padding-bottom: 4px;
    border-color: rgb(56,56,56);
    text-align: left;
}


.calculate-your-chart{
    width: 45%;
    /* border: 2px solid red; */
}
.calculate-your-chart h2{
    margin-top: 25px;
    margin-bottom: 15px;
}
.calculate-your-chart p{
    margin-bottom: 20px;
}
#design{
    width: 40%;
    height: 8%;
    margin:5px 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(56,56,56);
    /* border: white; */
    padding: 5px;
}
.last1{
    margin:5px 5px;
    width: 41%;
    height: 10%;
    padding: 10px;
    background-color: rgb(56,56,56);
    border: none;
    /* border: white; */
    border-radius: 5px;
    
}




.last{
margin: 5px 5px;   
width:85.5%;
height: 10%; 
padding: 10px;
background-color: rgb(56,56,56);
border: none;
border-radius: 5px;
}
.bmi-btn{
    margin-top: 15px;
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 15px;
    color: white;
    background-color:orangered;
}

/* our Team */

/* previous try */
/* .row img ,
.row-1 img{
    width: 45%;
    height: 45%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.row,.row-1{
    height: 450px;
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-bottom: 10px;
    /* justify-content: space-around; */
/* } */
/* .row h4,.row-1 h4{
    color: white;
}
.row p,.row-1 p{
    color: rgb(128,128,128);
} */ 




.second-last-section{
    width: 100%;
    /* height: 450px; */
    /* border: 2px solid red; */
}
.second-last-title{
    text-align: center;
    /* border: 2px solid red; */
}

.second-last-img-container{
    width: 80%;
    margin: 0 auto;
    /* height: 400px; */
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-radius: 20px;
    position: relative;
    align-items: center;
    /* border: 2px solid red; */
    background-color: rgb( 25,25,25);
}
.row-1,.row-2,.row-3{
    width: 100%;
    border: 2px solid red;
}
.row-1 img , .row-2 img,.row-3 img{
    width: 100%;
    border-radius: 15px;

}

.bottom-left{
    position: relative;
    top:-48px;
    left: 16px;
}

.bottom-left h4{
    color: white;
}
.bottom-left p{
    color: rgb(128, 128,128);
}

.one img , .two img, .three img , .three img,
.four img , .five img , .six img{
    /* height: 100; */
    width: 100%;
    height: 100%;
    /* margin: 10px; */
    border-radius: 15px;
    /* border: 2px solid red; */
}



/* footer section */
.footer{
    background-color: rgb(25,25,25);
}
.footer-section{
    /* height: 200px; */
    display: flex;
    justify-content: space-around;
    /* border: 2px solid red; */
    margin-top: 50px;
    margin-bottom: 30px;
}
.footer-first-section,
.footer-second-section,
.footer-last-section
{
    margin-top: 30px;
}

.footer-first-section h1{
    color: orangered;
    font-weight: 900;
    margin-bottom: 20px;
}
.footer-second-section h3,
.footer-last-section h3{
    margin-bottom: 20px;
}
.footer-second-section p,
.footer-last-section p{
    margin-bottom: 10px;
}
.hr{
    width: 90%;
    margin:0 auto;
}
.last-footer{
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
}



